<!DOCTYPE html>
<html>
<head>
    <title>Multisignature site</title>
    <meta name="description" content="ark: visual multisignature site.">
    <meta charset="utf-8">
{%- block meta %}
{%- endblock meta %}
    <!-- Smartphone app theme -->
    <meta name="theme-color" content="#48a178" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="shortcut icon" href="https://ark.io/favicon.png"> -->
{%- block title %}
{%- endblock title %}
</head>

<body>

{%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages %}
<div class="container">
    <section class="terminal-container">
        <header class="terminal">
            <span class="button" style="background-color: #E75448 !important;"></span>
            <span class="button" style="background-color: #E5C30F !important;"></span>
            <span class="button" style="background-color: #3BB662 !important;"></span>
        </header>
        <div class="terminal-home">	
        {%- for category, message in messages %}
            <p class="console sig {{ category }}">{{ message }}</p>
        {%- endfor %}
    </section>
</div>
    {%- endif %}
{%- endwith %}

{%- block body %}
{%- endblock body %}

<!-- Bootstrap javascript files -->
<script src="{{ url_for('static', filename='jquery-3.4.1.slim.min.js') }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
