{% extends "base.html" %}

{%- block title %}
    <title>Page not yet ready</title>
{%- endblock title %}

{%- block navbar %}
		<li class="breadcrumb-item"><a href="/">blockchain</a></li>
		<li class="breadcrumb-item"><a href="/{{ network }}">{{ network }}</a></li>
{%- endblock navbar %}

{%- block body %}
<div class="container">
	<div class="jumbotron">
		<h1>&#x26d3;&nbsp;Blockchain {{ network }}</h1>
		<hr/>
		<h2>Not yet available</h2>
		<strong>&#x1f3d7;&nbsp;This feature is under heavy development&hellip;</strong>
	</div>
</div>
{%- endblock body %}
