{%- extends "base.html" %}

{%- block meta %}
{%- endblock meta %}

{%- block title %}
    <title>Network choice</title>
{%- endblock title %}

{%- block body %}
<div class="container">
	<div class="jumbotron">
		<h1>&#x26d3;&nbsp;Select a network</h1>
        <hr/>
        {%- for net in network %}
        <div class="card shadow-lg px-4 py-2 my-3 rounded bg-light">
            <a id="{{ net }}" href="/{{ net }}" class="stretched-link">{{ net|capitalize }}</a>
        </div>
        {%- endfor %}
	</div>
</div>
{%- endblock body %}
