{% extends "base.html" %}

{%- block title %}
    <title>Network selection</title>
{%- endblock title %}

{%- block body %}
<div class="container">
	<div class="jumbotron">
		<h1>&#x26d3;&nbsp;Blockchain {{ network }}</h1>
		<hr/>
		<div class="input-group">
			<input id="wallet-search" type="text" class="form-control" placeholder="Search for wallet&hellip;" aria-label="wallet name or address" aria-describedby="search-button">
			<div class="input-group-append">
				<button onclick="javascript:openWalletUrl();" class="btn btn-outline-secondary" type="button" id="search-button">&#x1f50d;</button>
			</div>
		</div>
	</div>
{%- if response["data"]|length != 0 %}
	<!-- show wallet found in response['data'] -->
	<ul class="list-group">
		<li class="list-group-item bg-primary">
			<strong>Pending multisignature transaction found</strong>
		</li>
		{%- for puk,txs in response["data"].items() %}
		{%- set wallet = _address(puk) %}
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<a href="{{ '/%s/%s' % (network, wallet) }}" class="card-link">&#x1f4b3;&nbsp;{{ _shorten(wallet) }}</a>
			<span class="badge badge-primary badge-pill">{{ txs|length }}</span>
		</li>
		{%- endfor %}
	</ul>
{%- endif %}
</div>

<script type="text/javascript">

var input = document.getElementById("wallet-search");
var action = document.getElementById("create-ms-wallet");

function openWalletUrl() { 
	if (input.value) {
		window.location = "/{{ network }}/" + input.value;
	}
}

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    event.preventDefault();
    openWalletUrl();
  }
});

</script>
{%- endblock body %}
