{% extends "start.html" %}
{% set symbol = session["symbol"]|safe %}
{% if not registry %}
{% set registry = {} %}
{% endif %}
	{% block content %}
	<div class="element">
		<h2 style="text-align:center;">Account</h2>
		<table style="margin:auto;" cellspacing="5px">
			{% if not session.data["publicKey"] %}
			<tr><td colspan="2">Cold wallet</td></tr>
			{% else %}
			<tr><td>Public key</td><td>{{ session.data['publicKey'] }}</td></tr>
			{% endif %}
			{% if session.data["secondPublicKey"] %}
			<tr><td>Second public key</td><td>{{ session.data['secondPublicKey'] }}</td></tr>
			{% endif %}
			<tr><td>Balance</td><td>{{ symbol }}{{ session.data.get('balance', 0)|float / 100000000 }}</td></tr>
			{% if session.data["voted"] != [] %}
			<tr>
				<td>Vote</td>
				<td>
				{% for delegate in session.data["voted"] %}
					{{ session.data['voted']|join('<br/>', attribute='username') }}
				{% endfor %}
				</td>
			</tr>
			{% endif %}
		</table>
		{% if session.data.get("username", False) %}
		<h2 style="text-align:center;">Delegate</h2>
		<table style="margin:auto;" cellspacing="5px">
			<tr><td>Username</td><td>{{ session.data['username'] }}</td></tr>
			<tr><td>Productivity</td><td>{{ session.data['productivity'] }} %</td></tr>
			<tr><td>Approval</td><td>{{ session.data['approval'] }} %</td></tr>
			<tr><td>Forged</td><td>{{ session.data['producedblocks'] }} blocks</td></tr>
			<tr><td>Vote</td><td>{{ symbol }}{{ session.data['vote']|float / 100000000 }}</td></tr>
			<tr><td>Rate</td><td>{{ session.data['rate'] }}</td></tr>
		</table>
		{% endif %}
	</div>
	{% endblock content %}
