{%- extends "start.html" %}
	{% block content -%}
	<div class="element" id="txcontainer">
		<h2>Transactions</h2>
		<iframe style="resize:vertical;width:100%;min-height:200px;padding:0;border:0;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
				name="history" id="history" src="{{ url_for('txlist') }}"></iframe>
	</div>

	<script type="text/javascript">
document.getElementById('history').style.height = getCookie('historyHeight');
function timedCount() {
	setCookie('historyHeight', document.getElementById('history').style.height, 7);
    setTimeout(timedCount, 1000);
}
timedCount();
	</script>
	{% endblock content -%}
