{% extends "start.html" %}
	{%- block content %}
	<div>
		<iframe style="resize:vertical;width:100%;min-height:200px;padding:0;border:0;"
				name="history" id="history" src="{{ url_for('txlist') }}"></iframe>
	</div>

	<script type="text/javascript">
document.getElementById('history').style.height = getCookie('historyHeight');
function timedCount() {
	setCookie('historyHeight', document.getElementById('history').style.height, 7);
    setTimeout(timedCount, 1000);
}
timedCount();
	</script>
	{%- endblock content %}
