{% extends "start.html" %}
	{% block content %}
	{% if not session.secondPublicKey %}
	<div class="element">
		<h2>Send {{ g.token }}</h2>
		<form name="sendTransaction" method="post">
			<p><label>Recipient&nbsp;address&nbsp;</label><input type="text" size="100%" name="recipientId" required></p>
			<p><label>Transaction&nbsp;amount&nbsp;</label><input type="number" name="amount" required></p>
			<p><label>Optional&nbsp;message&nbsp;</label><input type="text" name="vendorField" maxlength="256"></p>
			<p><input style="margin:20px 0px 0px 0px;" type="submit" name="transaction"></p>
		</form>
	</div>
	{% endif %}
	{% endblock content %}
