<!DOCTYPE html>
{% set symbol = session["symbol"]|safe %}
<html>
	<head>
		<script type="text/javascript" src="{{ url_for('static', filename='code.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>

	<div class="element" id="networks">
		{%- for network in ['ark', 'dark2', 'kapu', 'ripa', 'prs', 'lwf', 'shift'] %}
			{%- if network == session['network'] %}
		<a href="{{ url_for('use', network=network) }}"><img class="selected" align="middle" src="{{ url_for('static', filename='%s.png'%network) }}" height="40px"></a>
			{%- else %}
		<a href="{{ url_for('use', network=network) }}"><img class="unselected" align="middle" src="{{ url_for('static', filename='%s.png'%network) }}" height="40px"></a>
			{%- endif %}
		{%- endfor %}
	</div>

	<div class="header">
		{%- if session.data %}
		<span class="element span">{{ session.data['address'] }}</span>
		<a href="{{ url_for('logout') }}">logout</a>
		{# <a href="{{ url_for('send') }}">send {{ symbol }}</a> #}
		{# <a href="{{ url_for('vote') }}">vote</a> #}
		<a href="{{ url_for('history') }}">history</a>
			{%- if session.secondPublicKey %}
		<a href="{{ url_for('unlock') }}">unlock</a>
			{%- endif %}
		<a href="{{ url_for('account') }}">account</a>
		{%- else %}
		<span class="element span">No wallet logged</span>
		{%- endif %}
	</div>

	{%- with messages = get_flashed_messages(True) %}
		{%- for cat,msg in messages %}
	<p class="element message {{ cat }}">{{ msg|safe }}</p>
		{%- endfor %}
	{%- endwith %}

	<div class="element content">
		{%- block content %}
		{%- endblock content %}
	</div>

	{%- block validate %}
	{%- endblock validate %}

	</body>
</html>
