{% extends "start.html" %}
	{% block content %}
	<div>
		<iframe style="resize:vertical;width:100%;min-height:200px;padding:0;border:0;"
				name="dlgtlist" id="dlgtlist" src="{{ url_for('vtlist') }}"></iframe>
		<p><input type="submit" value="Vote" action="javascript:postVoteList();"></p>
	</div>

	<script type="text/javascript">
var iframe = document.getElementById("dlgtlist");
document.getElementById('dlgtlist').style.height = getCookie('dlgtlistHeight');
function timedCount() {
	setCookie('dlgtlistHeight', document.getElementById('dlgtlist').style.height, 7);
    setTimeout(timedCount, 1000);
}
timedCount();

function postVoteList() {
	var result = [];
	iframe.contentWindow.document.querySelectorAll(".voted").forEach(function(element){result.push(element.innerText);});
	post("{{ url_for('vote') }}", {"votelist":result});
}
	</script>
	{% endblock content %}
